.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ipch
*.opensdf
*.VC.db
bin/
obj/
*.exe
*.dll
*.pdb
*.apphost
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
.vscode/
